# Introduction to Python
## Python Tutorial for Beginners 2: Strings - Working with Textual Data
link: <https://www.youtube.com/watch?v=k9TUPpGqYTo>  Create a new file in VScode, type:

In [2]:
message = 'Mohamed\'s World'

print(message)

Mohamed's World

Observe that we escaped `'` in `Mohamed's` by using the `\` alternatively we can use double quotes to enclose the message `" "`.  type:

In [3]:
message = "Mohamed's World"

print(message)

Mohamed's World

In [40]:
#for multiple line strings, use triple quotes `""" """` e.g. 

message = """Bioinformatics is an exciting area
of science"""

print(message)

Bioinformatics is an exciting area
of science

Use `len` to print the length of the message not the message itself e.g.

In [7]:
message = """Bioinformatics is an exciting area
of science"""

print(len(message))

45

We can subset our string by specifing the number for the character we want to recall (N.B. counting starts at 0) e.g.

In [9]:
message = """Bioinformatics is an exciting area
of science"""

print(message[0])

B

To access a range of characters use:

In [11]:
message = """Bioinformatics is an exciting area
of science"""

print(message[0:10])

Bioinforma

Remember that the first index is always included while the last one is not.  
It gets the same if we did not specify the first index (i.e. it assumes that it is the very begining) e.g.

In [13]:
message = """Bioinformatics is an exciting area
of science"""

print(message[:10])

Bioinforma

The same happens if you leave the end index blank e.g.

In [15]:
message = """Bioinformatics is an exciting area
of science"""

print(message[37:])

 science

We can print the message all in lower case by using the following:

In [17]:
message = """Bioinformatics is an exciting area
of science"""

print(message.lower())

bioinformatics is an exciting area
of science

We can count the number of a character in a string if we do:

In [19]:
message = """Bioinformatics is an exciting area
of science"""

print(message.count('i'))

7

This will give the count of the `i` character in the string.  
If we want to know the index of a character, we can use:

In [21]:
message = """Bioinformatics is an exciting area
of science"""

print(message.find('is'))

15

We can replace some characters with other characters e.g. let's replace `is` with `are`. Do it as follows:

In [23]:
message = """Bioinformatics is an exciting area
of science """

new_message = message.replace('is', 'are')

print(new_message)

Bioinformatics are an exciting area
of science

Concatenate strings, we can do that by typing:

In [25]:
first = "Bioinformatics"
second = "rocks"

message = first+second

print(message)

Bioinformaticsrocks

but this prints the message without spaces! so do the following:

In [27]:
first = "Bioinformatics"
second = "rocks"

message = first+' ' + second

print(message)

Bioinformatics rocks

adding with `+` is not perfect. We can use `formatted strings` to write the sequence as we want it to appear. We can do that by:

In [29]:
first = "Bioinformatics"
second = "rocks"

message = '{} {}, right?'.format(first, second)

print(message)

Bioinformatics rocks, right?

note that `{}` is a place holder. An easier aternative is to use the `f string` by typing:

In [31]:
first = "Bioinformatics"
second = "rocks"

message = f'{first} {second}, right?'

print(message)

Bioinformatics rocks, right?

You can even write codes in the placeholder. try:

In [33]:
first = "Bioinformatics"
second = "rocks"

message = f'{first} {second.upper()}, right?'

print(message)

Bioinformatics ROCKS, right?

To get an idea on the `methods` that we can use for our strings, just type: `print(dir(message))` and it will give you the whole list:

In [36]:
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Also, typing `print(help(str))` will give you the help and `print(help(str.lower))` gives you instructions on what this `method` do.

## Python Tutorial for Beginners 3: Integers and Floats - Working with Numeric Data  
link: <https://www.youtube.com/watch?v=khKv-8q7YmY>  
An integer is a whole number while a float is a decimal number.  
1- know the type of a varibale.

In [41]:
num = 6

print(type(num))

<class 'int'>

2- Run basic arithmatics:

In [42]:
print(4+5)
print(4-5)
print(4 * 5)
print(4 ** 2) # exponent
print(4/5)
print(4//5) # drop the decimal in division
print(4%3) # give the reminder after division

9
-1
20
16
0.8
0
1

The operation `print(5%2)` is commonly used to tell if a number is even or odd.  
3- Order of arithmatic operations in python follows `BOMDAS` and we can pritorize with brackets

In [43]:
print(5 * 2 + 3)
print(5*(2+3))

13
25

4- Increment numbers. If we want to increment our number by 1, we can use

In [44]:
num = 1
num = num + 1
print(num)

2

In [45]:
num = 1
num += 1
print(num)

2

it works with `+` and other operators as well.  
5- Other numerical functions include   
a- `absolute` which gives the absolute value i.e. removes the negative sign. Try `print(abs(-4))`  
b- `round` which removes decimals. try `print(round(-4.59))`. Also we cann use it and specify number of decimals that we want to round to. try `print(round(-4.59))`.  
6- Comparing numbers `Booleans`. Try:

In [46]:
num1 = 5
num2 = 6
print(num1 == num2)  # test if the are equal
print(num1 != num2)  # test if the are not equal
print(num1 < num2)  # test if  num1 is smaller than num2
print(num1 > num2)  # test if  num1 is greater than num2
print(num1 <= num2)  # test if  num1 is smaller than or equal num2
print(num1 >= num2)  # test if  num1 is greater than or equalnum2

False
True
True
False
True
False

7- Be aware about the type of data you are dealing with. If you write numbers as strings in python, it will deal with them as strings e.g.

In [47]:
num1 = '100'
num2 = '200'

print(num1+num2)

100200

The output will be `100200` as it is adding them as strings not as numbers. You can convert them to numbers by `casting`. try:

In [48]:
num1 = '100'
num2 = '200'

num1 = int(num1)
num2 = int(num2)

print(num1+num2)

300

## Python Tutorial for Beginners 4: Lists, Tuples, and Sets  
link:<https://www.youtube.com/watch?v=W8KRzm-HUcc&list=PL-osiE80TeTskrapNbzXhwoFUiLCjGgY7&index=4>

In [55]:
# 1- make a list by using `[]` and separate by `,` e.g.
colors = ['blue', 'red', 'green', 'yellow']

In [56]:
# 2- print the list.  
print(colors)

['blue', 'red', 'green', 'yellow']

In [57]:
# 3- print the length of the list.  
print(len(colors))

4

In [58]:
# 4- print a certain item for the list by refering to its index using `[]`. N.B. indexes start at 0.  
print(colors[1]) #prints the second item.

red

In [59]:
# 5- We can use negative indexes which starts from the end of the list i.e. to get the last item, type:  
print(colors[-1])

yellow

In [60]:
# 6- print multiple items by using `[:]`. N.B. the first index is included while the last is not.  
print(colors[0:2]) 

# we get the same results if we type:  
print(colors[:2]) # as it assumes we start at the begining. The same goes if we leave the last index empty, it goes all the way to the end.

['blue', 'red']
['blue', 'red']

In [61]:
# 7- Add items to the list by using `.append`. 
colors = ['blue', 'red', 'green', 'yellow']
colors.append('black')
print(colors)

['blue', 'red', 'green', 'yellow', 'black']

In [62]:
# 8- to append an item to the list in a specific position (not at the end like in the previous example), use `.insert` and specify the index.  
colors = ['blue', 'red', 'green', 'yellow']
colors.insert(0, 'black')
print(colors)

['black', 'blue', 'red', 'green', 'yellow']

In [52]:
# 9- Add items using `.extend`. To see the difference between this method and `.insert` or '.append`, try:  
colors = ['blue', 'red', 'green', 'yellow']
colors2 = ['violet', 'pink']
colors.insert(0, colors2)
print(colors) 

# This will insert the entire second list in the begining of the first list so it is a list inside a list. 
# This means that the second list is the first item in the new appended list. Try:  
colors = ['blue', 'red', 'green', 'yellow']
colors2 = ['violet', 'pink']
colors.insert(0, colors2)
print(colors[0])

# This will print the whole second list. The method `.extend` adds the items to the list, try:  
colors = ['blue', 'red', 'green', 'yellow']
colors2 = ['violet', 'pink']
colors.extend(colors2)
print(colors)

[['violet', 'pink'], 'blue', 'red', 'green', 'yellow']
['violet', 'pink']
['blue', 'red', 'green', 'yellow', 'violet', 'pink']

In [53]:
# 10- remove items from the list using `.remove`.  
colors = ['blue', 'red', 'green', 'yellow']
colors.remove('red')
print(colors)

# You can also use `.pop` which removes the last item by default.  
colors = ['blue', 'red', 'green', 'yellow']
colors.pop()
print(colors)

# `.pop` can also return the item it removed, try:  
colors = ['blue', 'red', 'green', 'yellow']
popped = colors.pop()

print(colors)
print(popped)

['blue', 'green', 'yellow']
['blue', 'red', 'green']
['blue', 'red', 'green']
yellow

In [54]:
# 11- Reverse the list using `.reverse`.  
colors = ['blue', 'red', 'green', 'yellow']
colors.reverse()
print(colors)

['yellow', 'green', 'red', 'blue']

In [63]:
# 12- Sort the list using `.sort`. It sorts the list alphabetically.  
colors = ['blue', 'red', 'green', 'yellow']
colors.sort()
print(colors)
 
# If we have numbers, it will sort it in ascending order.  
nums = [4, 2, 7, 8, 5]
nums.sort()
print(nums)
 
# If we want to sort in a descending order, pass `reverse` argument.  
nums = [4, 2, 7, 8, 5]
nums.sort(reverse=True)
print(nums)
 
# This function alters the original list. If we want a sorted version without altering the original list, try:  
colors = ['blue', 'red', 'green', 'yellow']
sorted_colors = sorted(colors)
print(colors)
print(sorted_colors)

['blue', 'green', 'red', 'yellow']
[2, 4, 5, 7, 8]
[8, 7, 5, 4, 2]
['blue', 'red', 'green', 'yellow']
['blue', 'green', 'red', 'yellow']

In [64]:
# 13- Get the minimum, maximum or sum of values in a list using `min`, `max` or `sum`.  
nums = [4, 2, 7, 8, 5]
print(min(nums))

2

In [65]:
# 14- Find the index of a certain item in a list.  
colors = ['blue', 'red', 'green', 'yellow']
print(colors.index('red'))
# If the item is not on the list, it will give an error.

1

In [66]:
# 15- If we want to check if a certain item is present or not in the list.  
colors = ['blue', 'red', 'green', 'yellow']
print('black' in colors)
print('red' in colors)
 
# It eill give you `False` and `True` respectively. We can use `in` in conditionals, try:  
colors = ['blue', 'red', 'green', 'yellow']

for item in colors:
    print(item)

# It will print all the items on new lines by default. N.B. notice the indentations. To get the items with its respective indices, try:  
colors = ['blue', 'red', 'green', 'yellow']

for item in enumerate(colors):
    print(item)
 
# This will return the color and its index. Again, the indices here starts at 0. If we want  it to start at 1 instead, try:  
colors = ['blue', 'red', 'green', 'yellow']

for item in enumerate(colors, start=1):
    print(item)

False
True
blue
red
green
yellow
(0, 'blue')
(1, 'red')
(2, 'green')
(3, 'yellow')
(1, 'blue')
(2, 'red')
(3, 'green')
(4, 'yellow')

In [67]:
# 16- Change the separator using `.join`.  
colors = ['blue', 'red', 'green', 'yellow']
colors_str = ' :'.join(colors)
print(colors_str)

SyntaxError: invalid syntax (3316991307.py, line 6)

In [68]:
# 17- split a list by using `.split` and specify the separator. Try:  
colors = ['blue', 'red', 'green', 'yellow']
colors_str = ' :'.join(colors)
new_colors = colors_str.split(' :')
print(new_colors)

['blue', 'red', 'green', 'yellow']

In [69]:
# 18- Tuples are like lists but they can't be changed. 
# They are immutable. To understand it better, try this example:  
colors = ['blue', 'red', 'green', 'yellow']
colors2 = colors
print(colors)
print(colors2)
  
# The 2 lists are printed the same. Try now to change the first item in the first list and print both lists.  
colors = ['blue', 'red', 'green', 'yellow']
colors2 = colors

colors[0] = 'white'
print(colors)
print(colors2)

# You will find out that both lists are changed because they are the same mutable objects. 
# Tuples are exactly the same as lists but we use `()` instead of `[]`. Try:  
t_colors = ('blue', 'red', 'green', 'yellow')
t_colors2 = t_colors
print(t_colors)
print(t_colors2)

# Tuples can't be changed, so if you try:  
t_colors = ('blue', 'red', 'green', 'yellow')
t_colors2 = t_colors
t_colors[0] = 'white'
print(t_colors)
print(t_colors2)

# It will give an error. We can't append, insert or remove but we can loop through it. 
# We can do anything on the list but not anything in the list.

['blue', 'red', 'green', 'yellow']
['blue', 'red', 'green', 'yellow']
['white', 'red', 'green', 'yellow']
['white', 'red', 'green', 'yellow']
('blue', 'red', 'green', 'yellow')
('blue', 'red', 'green', 'yellow')

TypeError: 'tuple' object does not support item assignment

In [70]:
# 19- Sets are like lists but we use `{}` instead of `[]` and they have no order. 
# If you try to print a set, it will give a different order each time.  
set_colors = {'blue', 'red', 'green', 'yellow'}
print(set_colors)
 
# Try to run this code multiple times and observe the order of the output. Sets also get rid of duplicates. Try:  
set_colors = {'blue', 'red', 'green', 'yellow', 'red'}
print(set_colors)

# Also sets are optimized for membership tests i.e. to test if a certain value is present in the set.  
set_colors = {'blue', 'red', 'green', 'yellow', 'red'}
print('red' in set_colors)

{'green', 'blue', 'red', 'yellow'}
{'green', 'blue', 'red', 'yellow'}
True

In [71]:
# 20- We can see the intersection between 2 sets using `.intersection` or 
# differences between 2 sets using `.differences`.  
set_colors = {'blue', 'red', 'green', 'yellow'}
other_colors = {'white', 'red', 'black', 'yellow'}
print(set_colors.intersection(other_colors))

{'red', 'yellow'}

In [72]:
# 21- We can use union to combine both sets.  
set_colors = {'blue', 'red', 'green', 'yellow'}
other_colors = {'white', 'red', 'black', 'yellow'}
print(set_colors.union(other_colors))

{'blue', 'white', 'yellow', 'green', 'black', 'red'}

In [73]:
# 22- create empty lists, tuples and sets.
# create empty lists
empty_list = []
empty_list = list()  # alternative way

# create empty tuples
empty_tuple = ()
empty_tuple = tuple()  # alternative way

# create empty sets
empty_set = {}  # you can't use that. It is for dictionaries.
empty_set = set()  # the only way

## Python Tutorial for Beginners 5: Dictionaries - Working with Key-Value Pairs  
link: <https://www.youtube.com/watch?v=daefaLgNkw0&list=PL-osiE80TeTskrapNbzXhwoFUiLCjGgY7&index=5>  

Dictionaries allow us to waork with `key:value` like `associative arrays`.

In [74]:
# 1- Construct a dictionary.  
student = {'name': 'Mohamed', 'age': 20, 'courses': ['science', 'english']}
print(student)

{'name': 'Mohamed', 'age': 20, 'courses': ['science', 'english']}

In [75]:
# 2- Access information in dictionary using a key.  
student = {'name': 'Mohamed', 'age': 30, 'courses': ['science', 'english']}
print(student['age'])
# We can pass trings, integers, lists or anything in a dictionary.

30

In [76]:
# 3- If we try to access a key that does not exist, it will return an error. If we want it to return `none` instead, use `.get`.  
student = {'name': 'Mohamed', 'age': 30, 'courses': ['science', 'english']}
print(student.get('phone'))
 
# We can specify a default value for non-existent keys by passing it as an argument.  
student = {'name': 'Mohamed', 'age': 30, 'courses': ['science', 'english']}
print(student.get('phone', 'Not Found'))

None
Not Found

In [77]:
# 4- Adding a new key to a dictionary.  
student = {'name': 'Mohamed', 'age': 30, 'courses': ['science', 'english']}
student['phone'] = '000-000-0000'
print(student.get('phone', 'Not Found'))

# This is also used to update a value of a key.  
student = {'name': 'Mohamed', 'age': 30, 'courses': ['science', 'english']}
student['name'] = 'Tim'
print(student.get('name', 'Not Found'))
  
# We can also update a value by using `.update` to update multiple values at a time.  
student = {'name': 'Mohamed', 'age': 20, 'courses': ['science', 'english']}
student.update({'name': 'Tim', 'age': '25'})
print(student)

000-000-0000
Tim
{'name': 'Tim', 'age': '25', 'courses': ['science', 'english']}

In [78]:
# 5- Delete a specific key or a value using `del`.  
student = {'name': 'Mohamed', 'age': 20, 'courses': ['science', 'english']}
del student['age']
print(student)
 
# or use `.pop` that removes and can return the value.  
student = {'name': 'Mohamed', 'age': 20, 'courses': ['science', 'english']}
age = student.pop('age')
print(student)
print(age)

{'name': 'Mohamed', 'courses': ['science', 'english']}
{'name': 'Mohamed', 'courses': ['science', 'english']}
20

In [79]:
# 6- Know the length by `len`.  
student = {'name': 'Mohamed', 'age': 20, 'courses': ['science', 'english']}
print(len(student))

3

In [80]:
# 7- Know all the keys by `.keys` method.  
student = {'name': 'Mohamed', 'age': 20, 'courses': ['science', 'english']}
print(student.keys())
 
# The same for values `.values` or items `.items`.  
student = {'name': 'Mohamed', 'age': 20, 'courses': ['science', 'english']}
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'courses'])
dict_keys(['name', 'age', 'courses'])
dict_values(['Mohamed', 20, ['science', 'english']])
dict_items([('name', 'Mohamed'), ('age', 20), ('courses', ['science', 'english'])])

In [81]:
# 8- Loop through a dictionary.  

# a- loop through keys.  
student = {'name': 'Mohamed', 'age': 20, 'courses': ['science', 'english']}
for key in student:
    print(key)
 
# b- loop through the whole dictionary.  
student = {'name': 'Mohamed', 'age': 20, 'courses': ['science', 'english']}

for key, value in student.items():
    print(key, value)

name
age
courses
name Mohamed
age 20
courses ['science', 'english']

## Python Tutorial for Beginners 6: Conditionals and Booleans - If, Else, and Elif Statements  
link: <https://www.youtube.com/watch?v=DZwmZ8Usvnk>  
Conditionals work simply by evaluating if a condition is true then they will execute the function ahead. For example, if we write a basic conditional like that:

In [82]:
if True:
    print('conditional is true')

conditional is true

The statement 'conditional is true' will be printed. On the other hand if we write the conditional like that:

In [83]:
if False:
    print('conditional is true')

Nothing will happen. Now, let's try more realistic examples.

In [85]:
language = 'python'

if language == 'python':
    print('conditional is true')

conditional is true

This conditional will print the statement 'conditional is true' if the variable `language` satisfied the condition which is 'being equal to "pythin"'.  
Other comparisons can be `==`, `!=`, `<`, `>`, `<=`,`>=`, `is`. We can add `else` to our conditional to execute another command if the condition was not met.

In [86]:
language = 'python'

if language == 'python':
    print('language is python')
else:
    print('no match')

language is python

If we want to check for 2 conditions not only one, we use `elif`. Try:

In [87]:
language = 'R'

if language == 'python':
    print('language is python')
elif language == 'R':
    print('language is R')
else:
    print('no match')

language is R

We also can use `Boolean operations` like `and`, `or`, `not`.

In [88]:
age = 18
gender = 'male'

if age == 18 and gender == 'male':
    print('adult male')
else:
    print('not adult male')

adult male

The difference between `==` and `is` is that `is` is checking for identity. For example if we run this code:

In [89]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)

True

It will print `True` but if we run:

In [90]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a is b)

False

Instead, it will print `False`. This happens because they have different IDs in the memory. Check that by typing:

In [91]:
a = [1, 2, 3]
b = [1, 2, 3]

print(id(a))
print(id(b))
print(a is b)

140299269995392
140299269995648
False

Alternatively, if we do:

In [92]:
a = [1, 2, 3]
b = a

print(id(a))
print(id(b))
print(a is b)

140299269994496
140299269994496
True

They will have the same identity and it will print `True`. This means that `is` is the same as `print(id(a) == id(b))`.  
In summary, conditionals in python evaluate if the condition is `True` or `False` and then execute the command accordingly. Let's look at what python considers as false:

In [93]:
# condition = False
# condition = None
# condition = Zero of any numeric value
# condition = Any empty sequence
# condition = Any empty dictionary

## Python Tutorial for Beginners 7: Loops and Iterations - For/While Loops  
link:<https://www.youtube.com/watch?v=6iF8Xb7Z3wQ>  
Create a loop:

In [95]:
nums = [1, 2, 3, 4, 5]
for num in nums:
    print(num)

1
2
3
4
5

We have two keywords essential in loops: `break` and `continuing` keywords. If we try thhis code:

In [96]:
nums = [1, 2, 3, 4, 5]

for num in nums:
    if num == 3:
        print('Number found!')
        break
    print(num)

1
2
Number found!

The loop won't loop through `3` and will break after it.  
If we want only to skip a value, we use `continue`.

In [97]:
nums = [1, 2, 3, 4, 5]

for num in nums:
    if num == 3:
        print('Number found!')
        continue
    print(num)

1
2
Number found!
4
5

It only skipped 3 and continued.  
We can have a loop within a loop.

In [98]:
nums = [1, 2, 3, 4, 5]

for num in nums:
    for letter in 'abc':
        print(num, letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

If we want to loop for a specific number of times e.g. 10 times. Try:

In [99]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

We also can start at any number we want.

In [100]:
for i in range(2, 50):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

If you put a condition, the loop will continue till the stop condition is met.

In [101]:
x = 0

while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

If you want the loop to go indefinitely till a certain value is met, you can use `while True`.

In [102]:
x = 0

while True:
    if x == 5:
        print('last')
        break
    print(x)
    x += 1

0
1
2
3
4
last

Be aware that if you run something like that:

In [104]:
# x = 0

# while True:
    # print(x)
    # x += 1

You will be stuck in an infinite loop. Kill it by pressing `ctrl+C`.

## Python Tutorial for Beginners 8: Functions  
link:<https://www.youtube.com/watch?v=9Os0o3wzS_I>  
Create a function using `def`.

In [105]:
def hello_func():
    pass


print(hello_func)
print(hello_func())

<function hello_func at 0x7f99f82750d0>
None

We used `def` to define the function, then we named the function `hello_funct`, followed by `()` which are placeholders for the argument. We then typed `pass` which does nothing but prevent the appearance of an error if we run this empty function. Then we printed the function without `()` which returns the function itself and we printed `hello_function()` to see the results of this function which is currently `none`.  
Let's make this function actually do something.

In [106]:
def hello_func():
    print('Hello!')


hello_func()

Hello!

It will print `Hello!`. Functions have the advantage of not making us repeat the code and allows debugging, so if we want to print `Hello!` for ten times then we changed our mind and wanted to print `Hi!` instead, we won't have to type `print('Hi!')` for 10 times we only change the message in the function one time then we execute it 10 times.  This is what refered do as keeping the code `dry`.  
We can use `return` in a function to designate an output then we can print this output.

In [107]:
def hello_func():
    return 'Hello!'


print(hello_func())

Hello!

Don't get too caught up on what every function does. Focus on what is the input and what is the output.  
You can operate on the output as the type of data it is i.e. if it is a string, you can use the methods used for strings e.g.

In [108]:
def hello_func():
    return 'Hello!'


print(hello_func().upper())

HELLO!

Pass argument to our function:

In [109]:
def hello_func(greeting):
    return '{} World.'.format(greeting)


print(hello_func('hi'))

hi World.

We can specify a default value if no argument is provided.

In [110]:
def hello_func(greeting, name='you'):
    return '{}, {}'.format(greeting, name)


print(hello_func('hi', 'mohamed'))

hi, mohamed

If we did not provide a name, it will print 'hi you' instead.  
If you don't know how many arguments we will have or their type, use `*args` and `**kwargs`:

In [112]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)


student_info('math', 'art', name='john', age='28')

('math', 'art')
{'name': 'john', 'age': '28'}

We can pass these arguments from `lists` by using `*` or `dictionary` by using `**` as in the following example:

In [113]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)


courses = ['math', 'art']
info = {'name': 'john', 'age': 28}

student_info(*courses, **info)

('math', 'art')
{'name': 'john', 'age': 28}

Try these functions:

In [114]:
month_days = [0, 31, 28, 31, 30, 31, 20, 31, 31, 30, 31, 30, 31]


def is_leap(year):
    """ return true for leap years and false for non-leap years"""
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)


def days_in_month(year, month):
    if not 1 <= month <= 12:
        return 'invalid month'
    if month == 2 and is_leap(year):
        return 29
    return month_days[month]


print(is_leap(2021))
print(days_in_month(2021, 13))

False
invalid month

## Python Tutorial for Beginners 9: Import Modules and Exploring The Standard Library  
link:<https://www.youtube.com/watch?v=CqvZ3vGoGs0&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU&index=9>  
We are going to create a module and run it. Create a file called `module.py` and paste:

In [115]:
print('Imported my module...')

Test = 'Test string'


def find_index(to_search, target):
    '''Find the index for a value in a sequence'''
    for i, value in enumerate(to_search):
        if value == target:
            return i
    return -1

Imported my module...

The first `print` statement is there to make us test if the module is imported.  
Create a new file. It has to be in the same directory as the module file. Call it `test.py` and paste in it:

In [117]:
import module
courses = ['art', 'history', 'math', 'physics']

Imported my module...

The first `import` command will import the module.  
Use the function in your module as follows:

In [118]:
import module
courses = ['art', 'history', 'math', 'physics']

index = module.find_index(courses, 'math')

print(index)

2

Let's make it shorter by giving a short name for the module:

In [119]:
import module as mm
courses = ['art', 'history', 'math', 'physics']

index = mm.find_index(courses, 'math')

print(index)

2

We can also import only one function from the module and use it directly.

In [120]:
from module import find_index
courses = ['art', 'history', 'math', 'physics']

index = find_index(courses, 'math')

print(index)

2

If we want to import multiple items from the module, try:

In [122]:
from module import find_index, Test
courses = ['art', 'history', 'math', 'physics']

index = find_index(courses, 'math')

print(Test)

Test string

We can make it even shorter as follows:

In [123]:
from module import find_index as fi, Test
courses = ['art', 'history', 'math', 'physics']

index = fi(courses, 'math')

print(index)

2

We can use `*` to import everything.

In [124]:
from module import *
courses = ['art', 'history', 'math', 'physics']

index = find_index(courses, 'math')

print(index)
print(Test)

2
Test string

But it is not a good way as now we do not know what did we import.  
When we import a module, it checks in sys.path, we can see this list by importing the `sys` module ```import sys```. You will see that it searches in your directory, in the python environment and in the python library.  
If the module was in another directory e,g, Downloads, it will give an error. We can add the new directory to `sys.path` to avoid that.

In [126]:
import sys
sys.path.append('/Users/mohamednoureldein/Downloads')

from module import *
courses = ['art', 'history', 'math', 'physics']



index = find_index(courses, 'math')

print(index)
print(Test)

2
Test string

This is not a good strategy. Better is to put the module in the python directory.  
Go to `terminal`, type ```nano ~/.bash_profile```. At the end of the file, add ```export PYTHONPATH="/Users/mohamednoureldein/Downloads". press `ctrl+x`, `y` then `enter`.  
Let's try one of the modules in the library. We will try the `random` module which gives a random value.

In [127]:
import random

courses = ['art', 'history', 'math', 'physics']

random_course = random.choice(courses)

print(random_course)

physics

Other useful modules are `math` for mathematical calculations e.g.

In [128]:
import math
rad = math.radians(90)
print(rad)

1.5707963267948966

which is calculating the value of 90 degrees in radians. It also has trignometric functions e.g. `sin`,..etc.  
Another module is `datetime` which works with dates and times and `calender` module.

In [129]:
import datetime
import calendar

today = datetime.date.today()
print(today)
print(calendar.isleap(2018))

2022-08-05
False

Another module is `os` module which is used to get current working directory as follows:

In [131]:
import os
print(os.getcwd())

/Users/mohamednoureldein

It is also used to create files, delete files,..etc.  
Modules are also `.py` files and you can get their location as follows:

In [132]:
import os
print(os.__file__)

/Users/mohamednoureldein/opt/miniconda3/lib/python3.8/os.py

It prints the location of the file.